*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

:root {
   --Green: hsl(75, 94%, 57%);
   --White: hsl(0, 0%, 100%);
   --Grey700: hsl(0, 0%, 20%);
   --Grey800: hsl(0, 0%, 12%);
   --Grey900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf');
}

html, body {
    height: 100%;
}

body {
    background-color: var(--Grey900);
}

main {
    display: grid;
    place-items: center;
    height: 100%;
}

section {
    background-color: var(--Grey800);
    padding: 20px;
    margin: auto;
    border-radius: 32px;
    text-align: center;
    display: inline-block;
}

img {
    height: 90px;
    width: 90px;
}

h1 {
    color: var(--White);
    margin-top: 28px;
    font-size: 24px;
}

h2 {
    color: var(--Green);
    font-size: 14px;
    margin-top: 10px;
}

p {
    color: grey;
    font-size: 14px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 28px;
}

li {
    margin-bottom: 10px;
}

a {
    background-color: var(--Grey700);
    color: var(--White);
    font-weight: 600;
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    padding: 12px 0;
}

a:hover {
    background-color: var(--Green);
    color: var(--Grey900);
}