*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
   --brown: #8a3d00;
   --yellowwaffle: #b89157;
   --yellow: #f5c200;
   --offwhite: #F4F0DB;
   --bluegreen: #688781;
   --shadow: rgba(0, 0, 0, 0.7);
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/static/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/static/Inter-Bold.ttf');
    font-weight: 700;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--yellowwaffle);
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

section {
    background-color: var(--offwhite);
    width: 100%;
    max-width: 320px;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    box-shadow: 0px 4px 4px var(--shadow);
}

img {
    height: 90px;
    width: 90px;
}

h1 {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 24px;
    color: var(--brown);
    margin-top: 16px;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.pin {
    height: 20px;
    width: 20px;
    margin-top: 26px;
}

h2 {
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 18px;
    color: var(--bluegreen);
    margin-top: 28px;
}

h3 {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 14px;
    color: var(--bluegreen);
    margin-top: 10px;
}

p {
    font-family: 'Inter-Regular', sans-serif;
    color: var(--shadow);
    font-size: 14px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 28px;
}

q {
    font-style: italic;
}

li {
    margin-bottom: 16px;
}

li:last-child{
    margin-bottom: 0;
}

a {
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 14px;
    background-color: var(--brown);
    color: var(--offwhite);
    font-weight: 600;
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    padding: 12px 0;
}

a:hover {
    background-color: var(--bluegreen);
    color: var(--yellow);
    box-shadow: 0px 4px 4px var(--shadow);
}